body{
    background:white;
}
#password-change-body{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#password-change-Image{
  width: 70px;
  height: 70px;
  margin-top: 40px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
#password-change-headline{
  text-align: center;
}
#password-change-input1{
  float: right;
  width: 300px;
  margin-left: 10px;
  height: 40px;
}
#password-change-input2{

  float: right;
  width: 300px;
  margin-left: 10px;
  height: 40px;
}
#password-change-input3{
  float: right;
  width: 300px;
  margin-left: 10px;
  height: 40px;
}

.absatz{
  margin-top: 10px;
}
#password-change-block{
  margin-right: 10px;
  margin-top: 12px;
}
#aktuellesProfilbild{
  margin-left: auto;
  margin-right: auto;
  display: table;
}
#profilepic-change-headline{
  text-align: center;
}
#profilepic-change-buttons{
  display: inline;
text-align: center;
}
#profilepic-change-images{
  margin-left: auto;
  margin-right: auto;
  display: table;
}
#ersteZeile{
  margin-top: 20px;
}
#zweiteZeile{
  margin-top: 10px;
}
#dritteZeile{
  margin-top: 10px;
}
#vierteZeile{
  margin-top: 10px;
}
#delete-profile-body{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
#delete-profile-image{
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 70px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 12px;
}
#delete-profile-headline{
  text-align: center;
  margin-bottom: 20px;
}

#passw{
  float: right;
  width: 300px;
  margin-left: 10px;
  height: 40px;
}
#delete-profile-text{
  margin-right: 10px;
  margin-top: 5px;
}
#deletebtn{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 40px;

}
.illustrationLeft{
  width: 340px;
  height: 590px;

}
.flag{
  width: 340px;
height: 45px
}
.illustrationRight{
width: 340px;
height:430px;
}
.left{
  float: left;
}
.scrolldown{
  margin-left: 300px;
  margin-right: 10px;
  margin-bottom: 10px !important;
  position: fixed;
}
.scrollup{
  margin-left: 300px;
  margin-right: 10px;
}
.right{
  margin-top: 10px;
  float:right;

}
