body {
    background:white;
    max-width: 1080px;
}

#content{
  margin-top: 60px;
    margin-bottom: 50px;
      left: 0;
      right: 0;
  overflow: auto;
}

#headerImageLogin{
  display: table;
  margin-left: auto;
  margin-right: auto;

}

#loginBody {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#inputFields {
  height: 40px;
  width:300px;
  margin-left: auto;
  margin-right: auto;
}

#bubbles {
    position: absolute;
    margin-left: 350px;
    margin-top: -5;
    display: none;
}

.bubbles{
    background-image: url("images/images-master/contentTextBubble.png");
    background-repeat:no-repeat;
    width: 370px;
}

#rechts{
    display: none;
}
#bubblesContent{
    width: 340px;
    height: 130px;
    padding: 10px;
    position: relative;
    text-align: right;
}

#email{
  font-family: Roboto Thin;
  margin: 5px auto;
  font-size: 13px;
  color: #001a3a;
}

#password{
  font-family: Roboto Thin;
  margin: 5px auto;
  font-size: 13 pt;
  color: #001a3a;
}

#loginButton {
    width: 150px;
    height: 40px;
    background-color: #001a3a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    align-self: center;
    font-family: Roboto Thin;

}

.footerImage{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

#footerLogin {
  color:#8da6d6;
  padding: 5px;
  margin: 0 auto;
  position:fixed;
  bottom: 0;
  text-align: center;
  width:  800px;
  left: 50%;
  z-index: 1;
  margin-left: -400px;
}

#footerLogin a{
  color:#8da6d6;
}

#blackTextLogin{
  color: black;
}

/* Bilder-Zustandswechsel */

.open .dropdown-toggle-achievedCompetences{
    content: url("images/images-master/achievedCompetences-active.png")
}

.open .dropdown-toggle-help{
    content: url("images/images-master/help-active.png")
}

.open .dropdown-toggle-logout{
    content: url("images/images-master/logout-active.png")
}

#footerMain{
  color:#8da6d6;
  padding: 5px;
  margin: 0 auto;
  position:fixed;
  bottom: 0;
  text-align: center;
  width:  800px;
  left: 50%;
  z-index: 1;
  margin-left: -400px;
}

#footer{
  height: 50px;
  background-color: #001a3a;
  padding-top: 5px;
}

#upperNavbar{
  height: 60px;
}

#buttons{
     display: inline-block;
}

.dropbtnLeft {
    background-color:#001a3a;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 12px;
   margin-left: 10px;
}

.dropbtnRight {
    background-color:#001a3a;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    bottom: 100%;
    left: 94%;
    margin-top: 12px;
    margin-right: 10px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-contentLeft{
    display: none;
    position: absolute;
    background-color: #001a3a;
    color: white !important;
    width: 250px;
    font-size: 12pt;
    font-family: Franklin Gothic Heavy;
    z-index: 1;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 9px;
}

.dropdown-contentRight{
    display: none;
    position: absolute;
    background-color: #001a3a;
    color: white !important;
    width: 250px;
    font-size: 12pt;
    font-family: Franklin Gothic Heavy;
    z-index: 1;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 9px;
}

.dropdown-contentLeft a {
  color: white;
  margin-left: 5px;

}

.dropdown-contentRight a {
  color: white;
  margin-left: 5px;

}

.dropdown-contentLeft li{
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.dropdown-contentRight li{
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.dropdown:hover .dropdown-contentLeft {
    display: block;
}

.dropdown:hover .dropdown-contentRight {
    display: block;
    text-align: left;
    margin-left: -200px;

}

#btn1{
  margin-top: 12px;
  margin-left: 5px;
}

#btn3{
margin-left: 10px;
  margin-top: 12px;
}
#divide{
  margin-top: 14px;
  border-color: #4565ad;
  border-style: solid;
  border-width: 1px;
  height: 35px;
  margin-right: 10px;
}
.menuPicture{
  float: left;
  margin-right: 10px;
  height: 70px;
  width: 70px;
  margin-left: 10px;

}
.schoolPicture{
  float: left;
  margin-right: 10px;
  height: 70px;
  width: 70px;
  margin-left: 10px;
}

.classPicture{
  float: left;
  margin-right: 10px;
  height: 70px;
  width: 70px;
  margin-left: 10px;
}

.avatarPicture{
  float: left;
  margin-right: 10px;
  height: 70px;
  width: 70px;
  margin-left: 10px;
}

.menuHeader{
  height: 125px;
  margin-top: 10px;
  color: #4565ad;
}





/*Hintergrundfarben vom Kapitel Menü*/
#all{
  height: 40px;
}
#chap1{
  background-color: #79ab2e;
  height:40px;
}
#chap2{
  background-color: #c6d54f;
  height:40px;
}
#chap3{
  background-color: #94c122;
  height:40px;
}
#chap4{
  background-color: #44b284;
  height:40px;
}
#chap5{
  background-color: #ffdd00;
  height:40px;
}
#chap6{
  background-color: #ffed98;
  height:40px;
}
#chap7{
  background-color: #fbb900;
  height:40px;
}
#chap8{
  background-color: #ef7d25;
  height:40px;
}
#chap9{
  background-color: #d60d66;
  height:40px;
}
#chap10{
  background-color: #ea518d;
  height:40px;
}
#chap11{
  background-color: #f29db7;
  height:40px;
}
#chap12{
  background-color: #a62068;
  height:40px;
}
#chap13{
  background-color: #008fc8;
  height:40px;
}
#chap14{
  background-color: #62c2d0;
  height:40px;
}
#chap15{
  background-color: #004077;
  height:40px;
}
#chap16{
  background-color: #3873b9;
  height:40px;
}
/*Links verfärben sich beim Drüberfahren*/
#chap1>a:hover{
  background-color: #a1c153;
}
#chap2>a:hover{
  background-color: #dbe283;
}
#chap3>a:hover{
  background-color: #bad151;
}
#chap4>a:hover{
  background-color: #7cc3a3;
}
#chap5>a:hover{
  background-color: #ffea64;
}
#chap6>a:hover{
  background-color: #fff3d8;
}
#chap7>a:hover{
  background-color: #ffcf53;
}
#chap8>a:hover{
  background-color: #f5a04c;
}
#chap9>a:hover{
  background-color: #e35184;
}
#chap10>a:hover{
  background-color: #ee7ba9;
}
#chap11>a:hover{
  background-color: #f7bed2;
}
#chap12>a:hover{
  background-color: #c9427e;
}
#chap13>a:hover{
  background-color: #4fa8da;
}
#chap14>a:hover{
  background-color: #94d3e5;
}
#chap15>a:hover{
  background-color: #005daa;
}
#chap16>a:hover{
  background-color: #658bc8;
}
/*komplettes Kästchen verfärbt sich beim Drüberfahren*/
#chap1:hover{
  background-color: #a1c153;
}
#chap2:hover{
  background-color: #dbe283;
}
#chap3:hover{
  background-color: #bad151;
}
#chap4:hover{
  background-color: #7cc3a3;
}
#chap5:hover{
  background-color: #ffea64;
}
#chap6:hover{
  background-color: #fff3d8;
}
#chap7:hover{
  background-color: #ffcf53;
}
#chap8:hover{
  background-color: #f5a04c;
}
#chap9:hover{
  background-color: #e35184;
}
#chap10:hover{
  background-color: #ee7ba9;
}
#chap11:hover{
  background-color: #f7bed2;
}
#chap12:hover{
  background-color: #c9427e;
}
#chap13:hover{
  background-color: #4fa8da;
}
#chap14:hover{
  background-color: #94d3e5;
}
#chap15:hover{
  background-color: #005daa;
}
#chap16:hover{
  background-color: #658bc8;
}
#foerder1{
  background-color: #001a3a;
  height: 40px;
}

#foerder2{
  background-color: #001a3a;
  height: 40px;
}

#foerder3{
  background-color: #001a3a;
  height: 40px;
}

#foerder1:hover{
  background-color: #8da6d6;
  height: 40px;
}

#foerder2:hover{
  background-color: #8da6d6;
  height: 40px;
}

#foerder3:hover{
  background-color: #8da6d6;
  height: 40px;
}

#logo{
  position: absolute;
    left: 50%;
    margin-left: -50px !important;
    display: block;
    margin-top: 12px;
}

#mainContent{
  padding-bottom: 80px;
  margin-top: 80px;
  text-align: left;
  display: inline-block;
}

#abbrechenBtn {
    background-color: #8da6d6;
    color:#4565ad;
    width: 150px;
    height: 40px;
    margin: 20px auto;
}

#deleteBtn{
    margin-right: 10px;
    margin-top: 10px;
     float: right;
}
.scrollable-menu {
    height: auto;
    max-height: 450px;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}

#btn1{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/chapterOverview-inactive.png");
}
#btn1:hover{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/chapterOverview-active.png");
}
#btn2{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/educationalPlan-inactive.png");
}
#btn2:hover{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/educationalPlan-active.png");
}
#btn3{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/achievedCompetences-inactive.png");
}
#btn3:hover{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/achievedCompetences-active.png");
}
#btn8{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/logout-iactive.png");
}
#btn8:hover{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/logout-active.png");
}
#btn7{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/help-inactive.png");
}
#btn7:hover{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/help-active.png");
}
#btn6{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/studyGroup/studyGroup_1a_inactive.png");
}
#btn6:hover{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/studyGroup/studyGroup_1a_active.png");
}
#btn5{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/school/school-inactive.png");
}
#btn5:hover{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/school/school-green-active.png");
}
#btn4{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/student/superhero-batman-inactive.png");
}
#btn4:hover{
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("images/images-master/student/superhero-batman-active.png");
}

  #illustrationLeft{
    height: 100%;
    margin-top: 104px;
    margin-left: 20px;
    height: 100%;
    left: 10px;
    width: 340px;
    position: fixed;
    padding: 10px;
    top: 0px;
    margin-bottom: 0px;
    z-index: -100;

}

#illustrationRight{
    height: 100%;
    right: 10px;
    width: 310px;
    margin-top: 104px;
    margin-right: 20px;
    position: fixed;
    padding: 10px;
    top: 0px;
    margin-bottom: 0px;
    z-index: -100;
}

#scrollBtnUp {
    right: 0;
    margin-top: 70px;
    position: fixed;
    top: 0;
    margin-right: 10px;
    z-index: 100;
}

#scrollBtnDown {
    right: 0;
    margin-bottom: 60px;
    position: fixed;
    bottom : 0;
    right: 0;
    margin-right: 10px;
    z-index: 100;
}
